.app {
  display: flex;
  /* flex-direction: row-reverse; */
  width: 600px;
  height: 600px;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-details img {
  height: 500px;
  width: 500px;
}

.product-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
